.u-section-1 {
  background-image: url("background.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 790px;
}

.u-section-1 .u-text-1 {
  margin: 225px 687px 0 48px;
}

.u-section-1 .u-text-2 {
  margin: 22px 455px 0 48px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 29px auto 60px 48px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 535px;
    margin-left: 118px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 303px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 315px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 83px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 135px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 74px;
  }
}
