<!DOCTYPE html>
    <html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,
initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible"
content="ie=edge" />
        <title>Discord baker</title>
		<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="icon"
      type="ico"
      href="logo.ico" /
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" type="5c829589c979ce69f7eed28a-text/javascript"></script>
		<audio autoplay>
		    <source src="heartless.mp3" type="audio/mpeg">
		</audio>
	</head>

    </font>

	<body style="background-color: #000000; overflow: hidden;
user-select: none; font-family: nimbus_monoregular,Courier;">
		<style>
			@keyframes blink {
				0% {
					opacity: 1
				}

				50% {
					opacity: 0
				}

				100% {
					opacity: 1
				}
			}
			@-webkit-keyframes blink {
				0% {
					opacity: 1
				}

				50% {
					opacity: 0
				}

				100% {
					opacity: 1
				}
			}
			.pad {
				top: 588px;
			}
			@media only screen and (max-width: 600px)
{ .pad { top: 200px; } }
		</style>
<div class="pad" style="text-align: center;
position: absolute; width:100%;">
			<h1 style="color: #0b03fc; font-size:
4.5rem; font-weight: 400; margin-bottom: 5px;">Discord baker</h1>
			<div style="color: #0b03fc; font-weight:
300;"><span style="font-size: 2rem;" id="typer"></span><span
style="font-size: 3rem; animation: blink 1s infinite;"
>|</span></div>
		</div>
		<div id="particles-js"></div>
		<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js" type="5c829589c979ce69f7eed28a-text/javascript"></script>
		<script type="5c829589c979ce69f7eed28a-text/javascript">
			window.onload = function() {
				const particlesJSON = {
					"particles": {
						"number": {
							"value":
80,
							"density":
{

"enable": true,

"value_area": 800
							}
						},
						"color": {
							"value":
"#5603fc"
						},
						"shape": {
							"type":
"star",
							"stroke":
{

"width": 0,

"color": "#000000"
							},
							"polygon":
{

"nb_sides": 12
							},
						},
						"opacity": {
							"value":
1,
							"random":
false,
							"anim": {

"enable": false,

"speed": 20,

"opacity_min": 0.1,

"sync": false
							}
						},
						"size": {
							"value":
1,
							"random":
true,
							"anim": {

"enable": false,

"speed": 40,

"size_min": 0.1,

"sync": false
							}
						},
						"line_linked": {
							"enable":
true,

"distance": 190,
							"color":
"#5603fc",
							"opacity":
1,
							"width": 1
						},
						"move": {
							"enable":
true,
							"speed":
6,

"direction": "none",
							"random":
false,

"straight": false,

"out_mode": "out",
							"bounce":
false,
							"attract":
{

"enable": false,

"rotateX": 600,

"rotateY": 1200
							}
						}
					},
					"interactivity": {
						"detect_on":
"canvas",
						"events": {
							"onhover":
{

"enable": true,

"mode": "repulse"
							},
							"onclick":
{

"enable": true,

"mode": "push"
							},
							"resize":
true
						},
						"modes": {
							"grab": {

"distance": 400,

"line_linked": {

"opacity": 1
								}
							},
							"bubble":
{

"distance": 400,

"size": 40,

"duration": 2,

"opacity": 8,

"speed": 3
							},
							"repulse":
{

"distance": 150,

"duration": 0.4
							},
							"push": {

"particles_nb": 4
							},
							"remove":
{

"particles_nb": 2
							}
						}
					},
					"retina_detect": true
				}
				particlesJS("particles-js",
particlesJSON);
				var i = 0;
				var txt = 'Nr.1 Discord Backup tool!';
				function typeWriter() {
					if (i < txt.length) {

document.getElementById("typer").innerHTML += txt.charAt(i);
						i++;

setTimeout(typeWriter, 50);
					}
				}
				typeWriter();
			}
		</script>
	<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="5c829589c979ce69f7eed28a-|49" defer=""></script></body>
</html>